@import "tailwindcss";

:root {
  /* Sentinel Theme - Default Dark */
  --background: #000000;
  --foreground: #ededed;
  
  --color-primary: #39FF14;
  --color-danger: #ff0000;
  --color-warning: #ffbf00;
  
  --color-surface: #111111;
  --color-border: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);
  --color-surface: var(--color-surface);
  --color-border: var(--color-border);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
